*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}
/* @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap'); */